.footerArrow {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  to {
    transform: translateY(0);
  }
}