$primary-font: 'Fjalla One', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$primary-color: #F1A53C;
$primary-color-light: #F1A53C;
$color-black: #000;
$color-white: #fff;
$color-grey: #7a7a7a;
$text-color-dark: #000000;
$bg-color: #FBFBFB;
$input-bg: #F5FAFF;