@keyframes spin {
  0% {
    transform: rotate(0);
    transform-origin: center center; }
  100% {
    transform: rotate(360deg);
    transform-origin: center center; } }

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .8; }
  50% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .8; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: AvenirLight, sans-serif;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: #000000;
  line-height: 1.4;
  background: #FBFBFB;
  letter-spacing: 1px; }

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: AvenirBold, sans-serif; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.5rem; }

li {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

button {
  border: none;
  background: none; }

button:focus,
button:active,
input:active,
input:focus,
textarea:focus,
textarea:active {
  outline: none !important; }

.notFound {
  flex-direction: column;
  height: 80vh; }

.container {
  width: 100%;
  margin: auto;
  height: 100%; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-fit {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.text-center {
  text-align: center; }

@font-face {
  font-family: "AvenirRegular";
  src: url("../fonts/Avenir/AvenirLTStd-Book.eot");
  src: url("../fonts/Avenir/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLTStd-Book.woff") format("woff"), url("../fonts/Avenir/AvenirLTStd-Book.ttf") format("truetype"), url("../fonts/Avenir/AvenirLTStd-Book.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AvenirBold";
  src: url("../fonts/Avenir/AvenirLTStd-Heavy.eot");
  src: url("../fonts/Avenir/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLTStd-Heavy.woff") format("woff"), url("../fonts/Avenir/AvenirLTStd-Heavy.ttf") format("truetype"), url("../fonts/Avenir/AvenirLTStd-Heavy.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AvenirLight";
  src: url("../fonts/Avenir/AvenirLTStd-Light.eot");
  src: url("../fonts/Avenir/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLTStd-Light.woff") format("woff"), url("../fonts/Avenir/AvenirLTStd-Light.ttf") format("truetype"), url("../fonts/Avenir/AvenirLTStd-Light.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }

.bm-menu,
.bm-menu-wrap {
  z-index: 99; }

.sidebar-menu .bm-menu,
.sidebar-menu,
.rightSide-menu .bm-menu,
.rightSide-menu {
  z-index: 9999 !important; }

.sidebar-menu .bm-menu,
.sidebar-menu-large .bm-menu {
  background: #f5f5f5 !important; }

.sidebar-menu-large {
  position: static !important;
  display: block;
  transition: all .3s; }

.sidebar-menu-large .bm-menu,
.sidebar-menu-large {
  z-index: 99 !important; }

.bm-menu {
  background: #fff !important;
  padding: 0 !important; }

.bm-item-list {
  padding: 0 !important; }

.listItemText > span {
  font-size: 14px !important;
  font-family: 'AvenirBold';
  text-transform: uppercase; }

.channelListItemText {
  flex: 1 !important; }

.channelListItemText > span {
  font-size: 14px !important;
  font-family: 'AvenirBold';
  text-transform: capitalize;
  line-height: 1.3; }

.sidebar-menu .bm-item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.sidebar-menu-large .bm-menu,
.sidebar-menu-large .bm-menu-wrap {
  height: calc(100% - 54px) !important;
  margin-top: 54px; }

.sidebar-menu-large .bm-item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.sidebar-menu-large--close {
  transition: all .3s;
  display: none !important; }

.sectionLogoImageStyle {
  max-width: 100px; }
  @media only screen and (max-width: 75em) {
    .sectionLogoImageStyle {
      max-width: 75px; } }
  @media only screen and (max-width: 56.25em) {
    .sectionLogoImageStyle {
      max-width: 50px; } }
  @media only screen and (max-width: 37.5em) {
    .sectionLogoImageStyle {
      max-width: 50px; } }

.closeButtonStyle {
  max-width: 80px; }
  @media only screen and (max-width: 75em) {
    .closeButtonStyle {
      max-width: 80px; } }
  @media only screen and (max-width: 56.25em) {
    .closeButtonStyle {
      max-width: 65px; } }
  @media only screen and (max-width: 37.5em) {
    .closeButtonStyle {
      max-width: 50px; }
      .closeButtonStyle > p {
        display: none; } }

@media only screen and (max-width: 37.5em) {
  .rightBurgerMenuIcon {
    right: 0 !important;
    width: 37px !important; } }

@media only screen and (max-width: 37.5em) {
  .leftBurgerBtnContainer {
    left: 0 !important;
    width: 37px !important; } }

@media only screen and (max-width: 37.5em) {
  .dx_nav_bar_burger {
    padding: 6px !important; } }

.footerArrow {
  animation: pulse 2s infinite; }

@keyframes pulse {
  from {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); }
  to {
    transform: translateY(0); } }

.homepage {
  height: 100vh;
  position: relative; }
  .homepage__bgImage {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; }
  .homepage__logo {
    position: absolute;
    top: 3%;
    left: 5%;
    color: #F1A53C; }
  .homepage__contentWrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .homepage__block {
    position: absolute;
    right: 40px;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 40px); }
    .homepage__block .select_wrapper {
      height: 200px;
      background: #F1A53C;
      padding: 20px;
      border: 20px solid rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      min-width: 45rem;
      margin-bottom: 24px; }
    .homepage__block h3 {
      margin-bottom: 1.5rem;
      text-align: center; }
